<div class="container h-100">
  <div class="d-flex justify-content-center h-100">
    <div class="card-contenedor animated fadeIn">
      <div class="d-flex justify-content-center">
        <div class="logo-contenedor">
          <img src="../../assets/img/Logo.png" class="logo" />
        </div>
        <form id="login" [formGroup]="FormLogin" (ngSubmit)="SubmitLogin()">
          <div class="form-group">
            <select
              class="form-control rounded-pill border border-success custom-select"
              formControlName="tipoDocumento"
            >
              <option value="null">Seleccionar tipo Documento</option>
              <option value="1">DNI</option>
              <option value="2">CE</option>
              <option value="3">PAS</option>
            </select>
            <div
              *ngIf="
                formLogin.tipoDocumento.invalid &&
                (formLogin.tipoDocumento.dirty ||
                  formLogin.tipoDocumento.touched)
              "
            >
              <div *ngIf="formLogin.tipoDocumento.errors?.required">
                <small class="text-muted ml-3"
                  ><em class="text-danger"
                    >Ingresar Tipo de documento</em
                  ></small
                >
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="text"
              class="form-control rounded-pill border border-success"
              placeholder="Ingresar N° de documento"
              formControlName="dni"
            />
            <div
              *ngIf="
                formLogin.dni.invalid &&
                (formLogin.dni.dirty || formLogin.dni.touched)
              "
            >
              <div *ngIf="formLogin.dni.errors?.required">
                <small class="text-muted ml-3"
                  ><em class="text-danger">Ingresar N° de documento</em></small
                >
              </div>
            </div>
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-success rounded-pill btn-lg btn-block"
              [disabled]="FormLogin.invalid"
            >
              <span *ngIf="!loading">Siguiente</span>
              <div *ngIf="loading" class="spinner-border" role="status"></div>
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
