<form [formGroup]="formularioAgendaMedica" (ngSubmit)="postEnviarDatos()">
  <div class="row">
    <div class="col-md-4">
      <!--FECHA--->
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Fecha</label> -->
        <input
          type="date"
          class="form-control rounded-pill border border-success"
          placeholder="Fecha"
          formControlName="fecha"
          (change)="fecha($event.target.value)"
          />
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Especialidad</label> -->
        <select
          class="form-control rounded-pill border border-success custom-select"
          formControlName="especialidad"
          (change)="getSelectEspecialidad()"
        >
          >
          <option value="">SELECCIONAR ESPECIALIDAD</option>
          <option
            *ngFor="let especialidad of especialidades"
            [ngValue]="especialidad.codigo"
          >
            {{ especialidad.descripcion }} 
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Medico</label> -->
        <select
          class="form-control rounded-pill border border-success custom-select"
          formControlName="medico"
          (change)="getSelectMedico()"
        >
          <option value="">SELECCIONAR MEDICO</option>
          <option
            *ngFor="let medico of medicos"
            [ngValue]="medico.id"
            >{{ medico.medico }}</option
          >
        </select>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Turno</label> -->
        <select
          class="form-control rounded-pill border border-success custom-select"
          formControlName="turno"
          (change)="getSelectTurno()"
        >
          <option value="">SELECCIONAR TURNOS</option>
          <option
            *ngFor="let turno of turnos"
            [ngValue]="turno.idprogramacion"
          >
            {{ turno.hora_inicio }} -
            {{ turno.hora_fin }}
          </option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Hora</label> -->
        <select
          class="form-control rounded-pill border border-success custom-select"
          formControlName="hora"
        >
          <option value="">SELECCIONAR HORA</option>
          <option *ngFor="let time of horas$ | async" [ngValue]="time">{{
            time.hora
          }}</option>
        </select>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Correo</label> -->
        <input
          type="email"
          class="form-control rounded-pill border border-success"
          placeholder="CORREO"
          formControlName="correo"
        />
            <div *ngIf="email.invalid && (email.dirty || email.touched)" [ngClass]="'invalid'">
                <div *ngIf="email.errors.required">Ingresar Email</div>
                <div *ngIf="email.errors.email">Email incorrecto</div>
            </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <div class="form-group">
        <!-- <label for="exampleInputEmail1">Telefono/Celular</label> -->
        <input
          type="text"
          class="form-control rounded-pill border border-success"
          placeholder="TELEFONO O CELULAR"
          formControlName="telcel"
        />
        <div *ngIf="phone.invalid && (phone.dirty || phone.touched)" [ngClass]="'invalid'">
              <div *ngIf="phone.errors.required">Ingresar numero celular</div>
              <div *ngIf="phone.errors.pattern">Ingresar solo numero</div>
        </div>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="check">
    <div class="col-md-4">
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          <input
            type="checkbox"
            class="custom-control-input"
            id="customCheck1"
            formControlName="cns"
            (change)="disabledIafas($event.target.value)"
          />
          <label class="custom-control-label" for="customCheck1">Control niño sano</label
          >
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="form-group">
        <select
          class="form-control rounded-pill border border-success custom-select" 
          formControlName="iafas"
        >
          <option value="" disabled>SELECCIONAR IAFAS</option>
          <option *ngFor="let iafa of iafas$ | async" [ngValue]="iafa.id">
            {{ iafa.descripcion }}
          </option>
        </select>
      </div>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
      <button
        type="submit"
        class="btn btn-success btn-lg btn-block rounded-pill"
        [disabled]="formularioAgendaMedica.invalid"
      >
        ENVIAR
      </button>
    </div>
  </div>
</form>
