<div class="container-builder p-4 animated fadeIn">
  <div class="card border-0 animated fadeIn">
    <div class="card-body">
      <div class="card-title text-center mb-5">
        <h1>Reservacion de citas</h1>
      </div>
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card animated fadeIn border-0 shadow-card">
            <div class="card-body">
              <div class="card-title text-center mb-4">
                <h4>Datos del Paciente</h4>
              </div>
              <app-dato-paciente></app-dato-paciente>
            </div>
          </div>
        </div>
        <div class="col-md-8">
          <div class="card animated fadeIn border-0 shadow-card">
            <div class="card-body">
              <div class="card-title text-center mb-4">
                <h4>
                  Agenda de Citas
                </h4>
              </div>
              <app-agenda-medica></app-agenda-medica>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
